packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    make: []
    python3-devel: []
    libstdc++-devel: []
    libffi-devel: []
    openssl-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    PORT: 8000
